videos/
.DS_Store
exp_data/
a-CH.zip
a-EN.zip
org_thumbnails.zip
data/users_backup.txt
data/assignments_backup.txt
data/assignments_backup.txt
org_thumbnails/
fetch_hf_*.py
fetch_local_thumbnails.py
copy_hecate_thumbnails.py
extract_thumbnails.py